/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_idea_helper.php
.idea/
storage/logs/
docker/mysql/data/*
docker/logs/nginx/*
.php_cs.cache
_ide_helper.php
_ide_helper_models.php
